# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
myenv/

# Environment files
.env

# Logs
*.log
flask.log

# Mac
.DS_Store

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup

# VS Code
.vscode/

# Temp files
tempCodeRunnerFile.py
